@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: flood-std;
    src: url("../public/Fonts/Flood\ Std\ Regular.otf");
  }
  @font-face {
    font-family: signFont;
    src: url("../public/Fonts/Dr_Carbfred.ttf");
  }
  *{
    font-family: 'Darker Grotesque', sans-serif;
  }
.btnBlack{
    background-color: rgb(0, 0, 0);
   
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin: 9px;
    min-width: 168px;
    padding: 8px;

}
.btnBlackCollection{
  background-color: rgb(0, 0, 0);
   
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  margin: 9px;
  max-width: 168px;
  padding: 8px;
}
.btnBlackCollection:hover{
  background-color: #ffffff;
  color: #000000;
  transition: 0.5s;
}
.btnBlack:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
}

.btnWhite{  
    background-color: rgb(255, 255, 255);
    
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 9px;
    min-width: 168px;
    padding: 8px;
}
.btnWhite:hover{
    background-color: #000000;
    color: #FFFFFF;
    transition: 0.5s;

}
.shopfor{

    background-color: #000000;
 
  
}
.section_heading_shopFor{
  font-family: flood-std,sans-serif !important;
font-weight: 400;
font-style: normal;
color: white;
font-size: 114px;
}
.section_heading_abtUs{
  font-family: flood-std,sans-serif !important;
  font-weight: 400;
  font-style: normal;

  font-size: 114px;
}

.section_heading{
font-family: flood-std,sans-serif !important;
font-weight: 400;
font-style: normal;
color: rgb(0, 0, 0);
font-size: 62px;
}
.section_subHeading{
    margin: 0;
    display: inline-flex;
    vertical-align: middle;
    flex-wrap: wrap;
    font-family: 'Darker Grotesque', sans-serif !important;
    font-size: 22px !important;
    color: rgb(2, 2, 2);
    font-weight: 600;
    text-transform: none !important;

}
.section_descr{
    margin-top: 15px;
    font-size: 21px;
    color: #FFFFFF;
}
.section_quote_loop{
    font-family: flood-std,sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 94px;

    color: #FFFFFF;
    opacity: 1;
    text-transform: uppercase;
    margin-right: 60px;
    line-height: 0.98em;

}
.section_quote_desc{
    text-align: center;
    color: #FFFFFF;
    font-family: "Darker Grotesque", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
}
.section_abt_desc {
  text-align: left;

  font-family: "Darker Grotesque", Sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
}
.section_quote_sign{
    color: #FFFFFF;
    font-family: signFont, Sans-serif;
    font-size: 44px;
    font-weight: normal;
    text-transform: none;
    font-style: normal;
}
.home_product_grid{
    
    outline: 1px solid #d9d9d9; 
}
/* components/HeroSlider.module.css */
.hero-slider {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  
  .slick-dots {
    bottom: 20px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #fff;
  }
/* components/HeroSlider.module.css */
.slide-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .slide-video {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .left-title {
    position: absolute;
    left: 20px; /* Position the left title */
    top: 30%;
   
    transform: translateY(-50%);
  }
  
  .right-title {
    position: absolute;
    right: 20px; /* Position the right title */
    top: 50%;
    font-size: 48px;
    transform: translateY(-50%);
  }
  
  .slide-title {

    font-weight: 600;
    margin: 0;
   
    color: #fff;
    font-size: 78px;
    text-align: left;
    padding: 29px 86px;
    border-radius: 4px;
    line-height: 70px;
  }
  
  .custom-arrow {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
  
    color: #fff;
    font-size: 42px;
    padding: 0px;
    cursor: pointer;
    z-index: 1;
  width: 70px;
  height: 70px;
  }
  /* .custom-arrow:hover{
    background-color: #000000;
    border-radius: 50%;
    color: white;
  } */
  .custom-left {
    left: 20px; /* Adjust the position of the left arrow */
  }
  
  .custom-right {
    right: 20px; /* Adjust the position of the right arrow */
  }
  
